@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

body {

   

    background-color: gray;

    color: #fff;
}

h1, h2 {
  font-size: 27pt;
    text-decoration: underline;
}

p {
    font-family: sans-serif;
}

a{
    background: #fff;
    color: blue;
    padding: 10px;
    border: 1px solid #ccc;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:20px;
   text-decoration:none;
    transition: 0.5s;
}


a:hover {
    background: blue;
    color: #fff;
    border: none;
}